// ==========================================================================
// Flex
// ==========================================================================

@mixin flex-size($percentage) {
    -ms-flex-preferred-size: $percentage;
    -webkit-flex-basis: $percentage;
    flex-basis: $percentage;
    max-width: $percentage;
}

//
// Flex Breakpoints
// ==========================================================================

@mixin flex-small($percentage) {
    @media only screen and (max-width: $break-s) {
        @include flex-size($percentage);
    }
}

@mixin flex-medium($percentage) {
    @media only screen and (max-width: $break-m) {
        @include flex-size($percentage);
    }
}

@mixin flex-large($percentage) {
    @media only screen and (min-width: $break-m) {
        @include flex-size($percentage);
    }
}

// ==========================================================================
// Grid
// ==========================================================================

@mixin grid-width($fraction) {
    width: #{$fraction*100 + '%'};
    display: inline-block;
    float: left;
}

// Offset
// ------

@mixin grid-offset($fraction) {
    margin-left: #{$fraction*100 + '%'};
}

//
// Grid - Breakpoints
// ==========================================================================

@mixin grid-break($fraction) {

    &\@lg {
        @media only screen and (min-width: $break-m) {
            width: #{$fraction*100 + '%'};
            display: inline-block;
            float: left;
        }
    }

    &\@md {
        @media only screen and (min-width: $break-xs) and (max-width: $break-m) {
            width: #{$fraction*100 + '%'};
            display: inline-block;
            float: left;
        }
    }

    &\@sm {
        @media only screen and (max-width: $break-xs) {
            width: #{$fraction*100 + '%'};
            display: inline-block;
            float: left;
        }
    }
}

// Offset
// ------

@mixin grid-offset-break($fraction) {

    &\@lg {
        @media only screen and (min-width: $break-m) {
            margin-left: #{$fraction*100 + '%'};
        }
    }

    &\@md {
        @media only screen and (min-width: $break-xs) and (max-width: $break-m) {
            margin-left: #{$fraction*100 + '%'};
        }
    }

    &\@sm {
        @media only screen and (max-width: $break-xs) {
            margin-left: #{$fraction*100 + '%'};
        }
    }
}