.o-footer {
    height: $height-footer;
    clear: both;
    background: $color-black;
    color: $color-white;
    padding-top: $size-base;

	&__content {
		width: $width-m;
        margin: 0 auto;
        text-align: left;
	}
}