.o-footer {
    height: $height-footer;
    clear: both;
    background: $color-black;
    color: $color-white;
    padding-top: $size-base;

    @media only screen and (max-width: $break-s) {
        height: auto;
        padding: $size-base-lg 0;
    }

	&__content {
		width: $width-m;
        margin: 0 auto;
        text-align: center;

        @media only screen and (max-width: $break-s) {
            width: $width-s;
        }

        a:link,
        a:visited {
            color: $color-white;
            text-decoration: none;
        }
	}

    &__subtext {
        text-align: center;
        color: $color-grey;
        padding-top: $size-base;
        font-size: 12px;

        a:link,
        a:visited {
            color: $color-grey;
            text-decoration: none;
        }
    }
}