
//
// Breakpoints
// ==========================================================================

// Calculated as ems from base body font size.

$break-xs: 41.688em;
$break-s: 1024px;
$break-m: 1200px;
$break-l: 1440px;