
//
// Breakpoints
// ==========================================================================

// Calculated as ems from base body font size.

$break-xs: toEms(667px);
$break-s: toEms(1024px);
$break-m: toEms(1200px);
$break-l: toEms(1440px);