
// Colors
$color-grey-light: #ccc;
$color-grey: #999;
$color-grey-dark: #666;
$color-black: #333;
$color-white: #fff;
$color-offwhite: #efefef;
$color-blue: #205081;
$color-red: #FF002B;
$color-red-light: #fb3253;
$color-orange: #FFAF30;
$color-brown-dark: #53453b;
$color-green: #abd4cb;