
// Widths
$width-100: 100%;
$width-50: 50%;

$width-l: toEms(1024px);
$width-m: toEms(980px);
$width-s: $width-100;

$width-12: 100%;
$width-11: 91.667%;
$width-10: 83.333%;
$width-9: 75%;
$width-8: 66.667%;
$width-7: 58.333%;
$width-6: 50%;
$width-5: 41.667%;
$width-4: 33.333%;
$width-3: 25%;
$width-2: 16.667%;
$width-1: 8.333%;